body {
    text-align: center;
    font-family: Helvetica;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

a {
    color: white;
    font-size: 18px;
}

.header {
    background-image: url(images/the-flatiron-building.png);
    background-size: cover;
    color: white;
}

.section p {
    font-size: 14px;
}

.footer {
    background-color: dimgray;
    text-align: left;
    color: white;
    font-size: 11px;
}



